.text {
    color: lightblue;
}

.text {
    display: flex;
    justify-content: center;
}

.customSection {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.customSection h2 {
    font-size: 18px;
}

.customSection p {
    color: #202020;
}

.customButton {
    background-color: #4c66af;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
}