.wrapper {
    .heading{
        color: red;
        font-size: 30px;
        span{
            font-weight: bold;
            color: black;
        }
    }
    .desc{
        color: greenyellow;
    }
}